html {
    box-sizing: border-box;
}

*, *::before, *::after {
      box-sizing: inherit;
  }

* {
    margin: 0;
    padding: 0;
    /*box-shadow: 0 0 0 1px #ff0000;*/
}

:root {
    font-size: 62.5%;
}

body{
    width:144rem;
    max-width: 100%;
    margin: 0 auto;
}

li{
    list-style: none;
}

h2{
    font-size:4rem;
    margin-left: 7rem;
}

.skills_main h2{
    margin-left: 0;
    padding: 1rem 1rem 1rem 0rem;
}

h3{
    font-size: 2.5rem;
}

aside{
    background-color: #EEE5E9
}

.main{
    display: flex;
}

.header_logo img{
    max-width:100%;
    width:5rem;
    max-height:100%;
    height:5rem;
    border-radius: 50%;
}

main{
    display: flex;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 144rem;
    background-color: #d0b7c2;
    padding: 2rem 5rem;
}

.header__menu{
    padding: 0 0 0 5rem;
}

.header__nav li{
    list-style: none;
}

.header__menu{
    display: flex;
}

nav{
    display: flex;

}
.header__nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 5rem;
}

.nav_link{
    text-decoration: none;
    font-size: 2.8rem;
}

.header_list_item a{
    color: black;
}

.header_list_item a:hover{
    color:#b39700;
    transition: 1s;
}



.contacts__nav{
    display: flex;
    flex-direction: column;
}

.contacts_photo img{
    width: 25rem;
    height: 30rem;
}

.contacts__nav_link a{
    display: flex;
    align-items: center;
    color: rgb(36, 64, 64);
    text-decoration: none;
}

.contacts__nav_link a:hover{
    color:orange;
    transition: 0.5s;
}

.contacts__links{
    background-color: #eee5e9;
    padding: 1rem 1rem 1rem 2rem;
}

.contacts__nav_link{
    display: flex;
    align-items: center;
}

.contacts__nav_link a span{
    padding: 0 0 0 2rem;
    font-size: 2rem;
}

.contacts__links h2{
    padding: 1rem 1rem 1rem 0rem;
    margin-left: 0;
}

.contacts__nav_link span{
    padding: 0 0 0 2rem;
    font-size: 2rem;
}

.contacts__content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color:#eee5e9;
}


code{
    font-size: 2rem;
}
.code__desc{
    border: 5px solid brown;
}
h1{
    font-size: 4rem;
    padding: 2.5rem;
    white-space: nowrap;
}


.contacts_photo{
    padding: 5rem 5rem 2rem 5rem;
}

.contacts__nav_link{
    padding-top: 3rem;
}

.contacts__nav_link img{
    width: 5rem;
    height: 5rem;
}

#skills{
    padding: 1rem 1rem 3rem 2rem;
    background-color: #eee5e9;
}

.skills__list{
    display: flex;
    gap: 4rem;
    flex-direction: column;
    padding-bottom: 6.5rem;
    padding-top: 5rem;
}



.skills__list li{
    font-size: 2.5rem;
    color: rgb(36, 64, 64 );
    position: relative;
    display: flex;
}

.skills__list li::before{
    position: absolute;
    bottom: -2rem;
    content: '';
    width: 26rem;
    height: 0.2rem;
    background-color: red;
}
.skills__list_box{
    position: absolute;
    bottom: -2.2rem;
    content: '';
    /*width: 5rem;*/
    height: 0.5rem;
    background-color: slategray;
}

/*span.skills__list_box:nth-of-type(1n){*/
/*    width: 10rem;*/
/*}*/


.xhtml{
    width:12rem;
    z-index: 2;
}

.css{
    width: 12rem;
}

.js{
    width:6rem;
}

.main_container{
    background-color: rgb(241,241,239);
    width: 109rem;
    max-width: 100%;
}

.summary{
    padding: 2rem 1rem 3rem 7rem;
}

.summary h2{
    padding: 2rem 1rem 3rem 0;
}

.summary_description{
    font-size: 2rem;
    padding: 2rem 1rem 3rem 7rem;
}

.experience{
    padding: 2rem 1rem 3rem 7rem;

}
.experience_desc{
    display: flex;
    gap: 15rem;
    padding-top: 3rem;
    font-size: 3rem;
    padding-left: 7rem;


}

.bordered{
    border-bottom: 2px solid #ecb830;
}

.portfolio {
    padding: 2rem 1rem 3rem 7rem;
}

.portfolio_img{
    padding-bottom: 2rem;
}
.portfolio_img img{
    width:15rem;
    height:15rem;
}

.portfolio_text{
    padding: 2rem 1rem 3rem 7rem;
}
.portfolio_text h2{
    padding: 2rem 1rem 3rem 0rem;
    margin-left: 0;
}
.portfolio__block{
    padding: 2rem 1rem 3rem 7rem;
    display: flex;
    gap: 5rem;
}
.portfolio_desc{
    display: flex;
    gap:1rem;
    flex-direction: column;
    font-size: 1.5rem;
}

.portfolio__block a{
    text-decoration: none;
    color: black
}

.education{
    padding: 2rem 1rem 3rem 7rem;
}

.education__online,.education__full{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 1rem 3rem 7rem;
}

.experience h2{
    padding: 2rem 1rem 3rem 0;
}

.education__block{
    display: flex;
    gap: 2rem;
}

.education_date{
    font-size: 2rem;
}

.education_desc{
    font-size:1.5rem;
    display: flex;
    gap: 0.5rem;
}

.education h2{
    padding: 2rem 1rem 3rem 0;
}

.education__online{
    padding: 2rem 1rem 3rem 7rem;
}


.education_desc{
    align-self: center;
}

.english{
    padding: 2rem 1rem 3rem 7rem;
}


.english_text{
    font-size: 2rem;
    padding-top: 4rem;
}

.english__desc{
    padding: 2rem 1rem 3rem 7rem;
}
.english__desc h2{
    padding: 2rem 1rem 3rem 0;
    margin-left: 0;
}

.footer{
    width:144rem;
    max-width:100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background-color: #d0b7c2;
    padding-left: 12rem;
    padding-right: 12rem;
}

.footer a{
    font-size: 2rem;
    text-decoration: none;
}

.footer_name{
    display: flex;
    align-self: center;
    color: rgb(36, 64, 64 );
}


.footer_link img{
    width:5rem;
    height:5rem;
}